
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/65437/pexels-photo-65437.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container">
    <h1>Le Cinéma fait pour vous</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>



<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6">
    <%= image_tag 'https://images.pexels.com/photos/9465993/pexels-photo-9465993.jpeg' %>
      <h1>Lists#index</h1>
        <ul>
          <% @lists.each do |list| %>
          <li><%= list.name %></li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
